ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    color: green;
    text-decoration: none;
}

.custom-radio {
    position: absolute;
    opacity: 0; /* Oculta el input radio original */
  }
  
.custom-radio + label::before {
content: '';
display: inline-block;
width: 15px;
height: 15px;
border: 1px solid #000; /* Bordes del círculo */
border-radius: 50%;
margin-right: 5px;
vertical-align: middle;
}

.custom-radio:checked + label::before {
background-color: black; /* Cambia el color de fondo al estar seleccionado */
border-color: white;
}